/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


body {
  font-family: sans-serif;
  padding: 24px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;

  padding-left: 16px;

  border: 1px solid #808080;
  border-radius: 4px;

  outline: none;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  border: none;
  border-radius: 8px;

  padding: 8px 16px;

  background-color: #4e75ff;
  color: #fff;

  cursor: pointer;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  justify-content: center;

  list-style: none;
}

.gallery-item {
  width: 360px;

  border: 1px solid #808080;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  display: block;

  width: 360px;
  height: 200px;

  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;

  padding: 4px;
}

.info-item {
  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 12px;
}

.loader {
  display: none;

  width: 48px;
  height: 48px;

  margin: 0 auto;
}

.load-more {
  display: none;

  margin: 32px auto;

  border: none;
  border-radius: 8px;

  padding: 8px 16px;

  background-color: #4e75ff;
  color: #fff;

  cursor: pointer;
}

.load-more:hover {
  background-color: #6c8cff;
}
